<div style="border-top-width:0 !important; background-image:none;" class="tabs tabs-icon-only tabs-striped bottom-tab tabs-color-lightblue main-tab-bar">
  <a class="tab-item" ng-click="nacTo($root.getViewUrl($root.layout.tabs[0]))">
    <i class="icon fa {{$root.layout.tabs[0].icon}}"></i>
  </a>

  <a class="tab-item" ng-click="nacTo($root.getViewUrl($root.layout.tabs[1]))">
    <i class="icon fa {{$root.layout.tabs[1].icon}}"></i>
  </a>

  <!-- <a class="tab-item" ng-click="openCard()">
    <i class="icon ems-barcode-icon"></i>
  </a> -->

  <a class="tab-item" ng-click="nacTo($root.getViewUrl($root.layout.tabs[2]))">
    <i class="icon fa {{$root.layout.tabs[2].icon}}"></i>
  </a>

  <a class="tab-item" ng-click="nacTo($root.getViewUrl($root.layout.tabs[3]))">
    <i class="icon fa {{$root.layout.tabs[3].icon}}"></i>
  </a>

  <a class="tab-item" ng-click="nacTo($root.getViewUrl($root.layout.tabs[4]))">
    <i class="icon fa {{$root.layout.tabs[4].icon}}"></i>
  </a>
</div>
